$fontstack: 'Poiret One', Verdana, sans-serif;
$red: #8B0000;

body {
  font-family: $fontstack;
}

#container {
  width: 75%;
  margin: 0 auto;
}

header {
  font-size: 36px;
  color: $red;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
}

.mainheader {
  margin-top: 1em;
}

.secondheader {
  margin-bottom: 1em;
}

.heroimg {
  height: 10em;
  width: auto;
}

h2 {
  text-align: center;
  display: block;
  font-weight: bold;

}
.tabs {
  // border: 1px solid black;
  padding: 1em;
  width: 20%;
  display: inline-block;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 auto;
  text-align: center;
}

a {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: $red;
  vertical-align: middle;
}

li a {
  display: block;
  width: 65px;
  margin-top: 1em;
}

li a:hover {
    background-color: red;
    color: white;
}

.about {
  display: inline-block;
  vertical-align: top;
  margin-top: 4em;
  border: 1.75px solid $red;
  border-radius: 3px;
  height: 18.25em;
  width: 60%;
  margin-left: 2em;
}
